firmware/EMC3.srcs/sources_1/bd/design_1/*
!firmware/EMC3.srcs/sources_1/bd/design_1/design_1.bd
firmware/EMC3.sim/
firmware/EMC3.runs/**/*
!firmware/EMC3.runs/impl_1/design_1_wrapper.bit
firmware/EMC3.ip_user_files/
firmware/EMC3.hw
firmware/EMC3.gen/sources_1/bd/design_1/**/*
!firmware/EMC3.gen/sources_1/bd/design_1/hdl/design_1_wrapper.v
firmware/EMC3.cache/
scripts/.Xil/
software/baremetal/EMC3_platform/.log
software/baremetal/.analytics
software/baremetal/.metadata/
software/baremetal/IDE.log
software/baremetal/RemoteSystemsTempFiles/
software/baremetal_classic/EMC3_platform/.log
software/baremetal_classic/.analytics
software/baremetal_classic/.metadata/
software/baremetal_classic/IDE.log
software/baremetal_classic/RemoteSystemsTempFiles/
software/Packages/
	
